<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="com.hashilab.dev.editor.activities.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Livewallpaper">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.hashilab.dev.editor.activities.SceneListActivity"
            android:exported="false"
            android:theme="@style/Theme.Livewallpaper" />

        <activity
            android:name="com.hashilab.dev.editor.activities.EditSceneActivity"
            android:exported="false"
            android:theme="@style/Theme.Livewallpaper" />

        <activity
            android:name="com.hashilab.dev.editor.activities.EditTextureActivity"
            android:exported="false"
            android:theme="@style/Theme.Livewallpaper" />

        <activity
            android:name="com.hashilab.dev.editor.activities.FullscreenPreviewActivity"
            android:exported="false"
            android:theme="@style/Theme.Livewallpaper.Fullscreen" />

        <activity
            android:name="com.hashilab.dev.editor.activities.ProjectBrowserActivity"
            android:exported="false"
            android:theme="@style/Theme.Livewallpaper" />

        <activity
            android:name="com.hashilab.dev.editor.activities.SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.Livewallpaper" />
    </application>
</manifest>
