<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".LoggingApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Livewallpaper">

        <activity
            android:name=".ui.editor.activities.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Livewallpaper" />

        <activity
            android:name=".ui.editor.activities.SceneListActivity"
            android:exported="false"
            android:theme="@style/Theme.Livewallpaper" />

        <activity
            android:name=".ui.editor.activities.EditSceneActivity"
            android:exported="false"
            android:theme="@style/Theme.Livewallpaper" />

        <activity
            android:name=".ui.editor.activities.EditTextureActivity"
            android:exported="false"
            android:theme="@style/Theme.Livewallpaper" />

        <activity
            android:name=".ui.editor.activities.FullscreenPreviewActivity"
            android:exported="false"
            android:theme="@style/Theme.Livewallpaper.Fullscreen" />

        <service
            android:name=".gl.GLWallpaperService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/live_wallpaper" />
        </service>
    </application>

</manifest>